body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    color: #b1e6e7;
    margin: 50px;
    font-size: 50px;
    font-family: "Rancho";
}

div {margin: 50px;}

#input {
    width: 17em;
    height: 2.5em;
    font-size: 30px;
    outline: none;
    border: solid 10px #def1f2;
    background-color: #121212;
    color: #b1e6e7;
    margin: 0;
    font-family: "Rancho";
}

#reset {
    width: 5em;
    height: 2.5em;
    font-size: 30px;
    border-radius: 5px;
    outline: none;
    border: solid 10px #def1f2;
    background-color: #def1f2;
    color: #121212;
    margin-left: -50px;
    font-family: "Rancho";
}