:root {
    --black: #121212;
    --blue: #93E7FB;
    --white: #E0FFFF;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    margin: 50px;
    overflow: hidden;
    font-family: "Unbounded";
}

#heading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

h1 {
    font-size: 70px;
    margin-right: 20px;
}

#help-btn {
    color: var(--white);
}

#help-btn:hover {
    color: var(--blue);
}

h2 {
    color: var(--blue);
    font-size: 80px;
    font-family: "Source Code Pro";
    display: none;
}

div {margin: 50px;}

/*  new styles (help-container) */
#help-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    backdrop-filter: blur(6px);
    height: 100%;
    width: 100vw;
    margin: 0;
    top: 0;
    left: 0;
}

#help-container div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 550px;
    height: 225px;
    border: var(--blue) 10px solid;
    background-color: var(--white);
    border-radius: 15px;
}

#help-container p {
    color: var(--black);
    text-align: justify;
    font-size: 18px;
}

#input-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#input {
    width: 17em;
    height: 2.5em;
    font-size: 30px;
    outline: none;
    border: solid 3px var(--white);
    border-radius: 15px;
    background-color: var(--black);
    color: var(--blue);
    padding: 10px 25px;
    font-family: "Source Code Pro";
    margin: 10px;
}

#reset {
    width: 5em;
    height: 2.5em;
    font-size: 30px;
    border-radius: 10px;
    outline: none;
    border: solid 3px var(--white);
    background-color: transparent;
    color: var(--white);
    font-family: "Source Code Pro";
    margin: 10px;
}

/* new styles */
#reset:hover {
    border: var(--blue);
    background-color: var(--white);
    color: var(--black);
}

.bg-icon {
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: -1;
}

#circle {
    background-color: var(--white);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    box-shadow: 0 0 10px var(--blue);
    opacity: 25%;
}


/* Animated snowfall (in-progress) */

/* @keyframes snowfall {
    0% {
        top: 0;
    }
    50% {
        transform: translateY(100vh);
    }
    100% {
        position: translateY(500vh);
    }
} */

/* @for $i from 1 through 50 {
    .snowflake:nth-child(#{$i}) {
        --size: #{random(5) * 0.2}vw;
        --left-ini: #{random(20) - 10}vw;
        --left-end: #{random(20) - 10}vw;
        left: #{random(100)}vw;
        animation: snowfall #{5 + random(10)}s linear infinite;
        animation-delay: -#{random(10)}s;
    }
}

/* added small blur every 6 snowflakes*/
/* .snowflake:nth-child(6n) {
    filter: blur(1px);
} */